//COLORS
$dark-grey-2: #313e47;
$charcoal-grey: #414d54;
$battleship-grey: #6f7e82;
$light-grey-blue: #a0b2b8;
$ice-blue: #e6f0f2;
$twilight-blue: #0c384f; 
$white: #ffffff;
$twilight-blue: #095482;
$water-blue: #1094c4;
$azure: #0ba8e0;
$aquamarine: #02d4b1;
$shamrock-green: #00d46a;
$maize: #ffcf4a;
$mango: #df7b00;
$orangey-red: #fa3a37;
$warm-purple: #ffa1c5;
$black-70: rgba(0, 0, 0, 0.7);
$white-greyish: #fafafa;
$black: #000000;
$grey: #3d484f;
$cool-grey: #99a9b3;
$white-2: #f4f4f4;
$white-1: #f7f7f7;
$almost-black: #050706;
$black: #363636;
$dark-grey: #1f2326;
$black-30: rgba(0, 0, 0, 0.3);
$maize-60: rgba(255, 207, 74, 0.6);
$white-80: rgba(255, 255, 255, 0.8);
$dark-grey-blue: #2a3754;
$black-5: rgba(0, 0, 0, 0.05);
$white-95: rgba(255, 255, 255, 0.95);
$lightish-blue: #4d5ffe;
$red-10: rgba(255, 0, 0, 0.1); 