.banner {
    width: 100vw;
    height: 70vh;
    background-image: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../img/lily-banse--YHSwy6uqvk-unsplash.jpg");
    background-color: #000000;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.logo-container img {
    width: 90px;
}

.logo-container {
    padding-top: 40px;
    padding-left: 190px;
}

.banner-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.banner-container h1 {
    font-size: 4rem;
    color: $white-greyish;
}

.banner-container h2 {
    font-size: 2.5rem;
    color: $white-greyish;
    font-weight: lighter;
}

.banner-container input {
    width: 400px;
    height: 2.8rem;
    padding-left: 3rem;
    border-radius: 30px;
    outline: none;
    border: none;
    font-style: italic;
}

.search {
    position: relative;
}

.search i {
    position: absolute;
    left: 1rem;
    top: .7rem;
    font-size: 1.5rem;
    opacity: .6;
    color: $cool-grey;
}

.search button {
    width: 120px;
    height: 2.8rem;
    padding: .8rem 1.5rem;
    ;
    border-radius: 30px;
    letter-spacing: .8px;
    border: none;
    font-size: 1rem;
    font-variant: small-caps;
    background: $shamrock-green;
    font-weight: 300;
}

.small-card-container {
    position: absolute;
    width: 70%;
    height: 100px;
    background: $orangey-red;
    top: 103%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
}

.small-card-container i {
    font-size: 4rem;
    padding-top: 1rem;
    opacity: .4;
}

#main {
    height: 200vh;
}

#main h3 {
    font-size: 3.5rem;
    color: $battleship-grey;
    margin-top: 14rem;
    padding-left: 19rem;
}

#main h3::after {
    content: "";
    width: 13rem;
    height: .1rem;
    background: $light-grey-blue;
    display: block;
    margin-top: 2rem;
    margin-bottom: 8rem;
}