.restaurant-card {
    width: 280px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(70px, auto);
    background-color: $battleship-grey;
    border-radius: 1px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.02);
    position: relative;
}

.card-photo {}

.card-photo img {
    width: 100%;
    height: 203px;
    border-radius: 2px;
}

.card-info {
    background-color: $charcoal-grey;
    align-self: start;
}

.card-info img {
    width: 38px;
    height: 38px;
    box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.15);
    border-radius: 50px;
    position: absolute;
    top: 215px;
    left: 10px;
    align-self: start;
}

.card-info p {
    font-family: Avenir;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.58;
    letter-spacing: normal;
    color: $shamrock-green;
    display: inline-block;
    position: absolute;
    top: 210px;
    left: 60px;
}

.card-info h6 {
    font-family: Avenir;
    font-size: 16px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    color: $ice-blue;
    position: absolute;
    top: 208px;
    left: 60px;
    padding-right: .4rem;
}

.stats-container {
    width: 280px;
    height: 50.5px;
    border-radius: 1px;
    background-color: $dark-grey-2;
    align-self: end;
    position: relative;
}

.fa-heart {
    width: 20px;
    height: 18.4px;
    opacity: 0.5;
    color: $shamrock-green;
    position: absolute;
    top: 15px;
    left: 18px;
}

.-Likes {
    opacity: 0.5;
    font-family: Avenir;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $light-grey-blue;
    position: absolute;
    top: 0.3px;
    left: 38px;
}

.fa-comment {
    width: 20px;
    height: 20px;
    opacity: 0.5;
    color: $shamrock-green;
    position: absolute;
    top: 15px;
    left: 135px;
}

.-Comments {
    opacity: 0.5;
    font-family: Avenir;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $light-grey-blue;
    position: absolute;
    top: 0.3px;
    left: 155px;
}