//FONTS
$font-family-1: 'Lora',
serif;
$font-family-2: 'Crimson Pro',
serif;
//TEXT STYLES
h1 {
    font-family: $font-family-1;
    font-size: 47.3px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.48;
    letter-spacing: normal;
    color: var(--charcoal-grey);
}

h3 {
    font-family: $font-family-2;
    font-size: 31.5px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.46;
    letter-spacing: normal;
    color: var(--ice-blue);
}

h3 {
    font-family: $font-family-2;
    font-size: 31.5px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: var(--charcoal-grey);
}

h2 {
    font-family: $font-family-1;
    font-size: 31.5px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.46;
    letter-spacing: normal;
    color: var(--charcoal-grey);
}

h4 {
    font-family: $font-family-1;
    font-size: 21px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.48;
    letter-spacing: normal;
    color: var(--charcoal-grey);
}

h5 {
    font-family: $font-family-2;
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #292f33;
}

h6 {
    font-family: AppleColorEmoji;
    font-size: 21px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: var(--white);
}

.Text-light-gray-blue {
    font-family: $font-family-2;
    font-size: 21px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: var(--light-grey-blue);
}

.Text-White {
    font-family: $font-family-2;
    font-size: 21px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: var(--white);
}

.Text-charchoal-grey {
    font-family: $font-family-2;
    font-size: 21px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: var(--charcoal-grey);
}

.Text-ice-blue {
    font-family: $font-family-2;
    font-size: 21px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: var(--ice-blue);
}

.Paragraph {
    font-family: $font-family-2;
    font-size: 21px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: var(--charcoal-grey);
}

.Paragraph-charcoal-grey {
    font-family: $font-family-1;
    font-size: 21px;
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.48;
    letter-spacing: normal;
    color: var(--charcoal-grey);
}

.Text-small-heavy {
    font-family: $font-family-2;
    font-size: 18px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.39;
    letter-spacing: normal;
    color: var(--charcoal-grey);
}
.Text-small-light {
    font-family: $font-family-2;
    font-size: 18px;
    font-weight: lighter;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.39;
    letter-spacing: normal;
    color: var(--charcoal-grey);
}