
<script src="/js/config.js"></script>

<script async defer></script>
<script id="googleAPI" type="text/javascript"></script>
<script id="autoComplete" type="text/javascript"></script>
<script src="/js/main.js"></script>
</body>

</html>