
    
    
    
    
    <!-- <div class="container">
        <header>
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">Welcome to YelpCamp</h1>
                    <p class="lead">The place to share your favorite campgrounds.</p>
                    <div>
                        <a class="btn btn-primary" role="button" href="campgrounds/new">Add Campground</a>
                    </div>
                </div>
            </div>
        </header>
        <div class="row">
            <% campgrounds.forEach((campground) => { %>
                <div class="col-md-4 col-sm-6">
                    <div>
                        <div class="img-thumbnail">
                            <a href="
                        <%= campground.image %>">
                                <img alt="picture" src="
                            <%= campground.image %>" class="img-fluid">
                            </a>
                            <div class="caption">
                                <h5 style="text-align: center; margin: 10px auto">
                                    <%= campground.name %>
                                </h5>
                            </div>
                            <p>
                                <a href="/campgrounds/<%= campground._id %>">More info</a>
                            </p>
                        </div>
                        
                    </div>
                </div>
 <% }) %>
        </div>
    </div> -->