<%- include('partials/header'); -%>

    <header class="banner">

        <div>
            <div class="logo-container">
                <img src="/img/logo.png" alt="logo ketta app">
            </div>
            <div class="banner-container">

                <h1>Hungry?</h1>
                <h2>See the deliciousness near you...</h2>
                <form action="/" method="post" class="search">
                    <input id="search_term" type="text" placeholder="restaurant name" name="restaurantName" required>
                    <i class="fas fa-search"></i>
                    <div class="city-input">
                        <input id="city-input" type="text" placeholder="city" name="city">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>

                    <button class="search-button" type="submit">Search</button>
                </form>
                <!-- <h2 class="sm-heading">or browse some of our categories</h2> -->
            </div>
        </div>
        <div class="small-card-container">
            <div>
                <i class="fas fa-coffee"></i>
            </div>
            <div>
                <i class="fas fa-hamburger"></i>
            </div>
            <div>
                <i class="fas fa-pizza-slice"></i>
            </div>
            <div>
                <i class="fas fa-glass-cheers"></i>
            </div>
        </div>
        <div class="sub-title">
            <h3>Is this what you're looking for?</h3>
        </div>
    </header>
    <main id="main">
        <div class="card-container">
            <div class="card-info">
                <% restaurantData.forEach(function(restaurant) { %>
                    <div class="restaurant-card">
                        <div class="card-photo">
                            <div>
                                <img src=<%=restaurantPhoto%> alt="">
                            </div>
                        </div>
                        <div class="card-info">

                            <p>
                                <%#=restaurant.name %>
                            </p>
                            <h6>
                                <i class="fas fa-map-marker-alt"></i>
                                <%#=restaurant.formatted_address %>
                            </h6>
                            <div class="open-status">
                                <%# if(restaurant.opening_hours.open_now == true){ %>
                                    <span class="isOpen">Open</span>
                                    <%# } else { %>
                                        <span class="isClose">Closed</span>
                                        <%# } %>
                            </div>

                        </div>
                        <div class="stats-container">
                            <i class="far fa-star fa-2x"></i>
                            <i class="far fa-comment fa-2x"></i>
                            <p class="-Likes">
                                <%#=restaurant.rating %>
                            </p>
                            <p class="-Comments">
                                <%#=restaurant.user_ratings_total %> Reviews</p>
                                <div class="link">
                                    <a class="search-button" href="#" target="_blank">See more 
                                        <i class="fas fa-external-link-alt"></i>
                                    </a>
                                </div>
                                
                        </div>
                    </div>
                    <%# }) %>
            </div>
            <div class="card-map">
                <div id="map">

                </div>
            </div>
        </div>

    </main>

    <%- include('partials/footer'); -%>