<%- include('partials/header'); -%>

<header class="banner">
    
    <div>
        <div class="logo-container">
            <img src="/img/logo.png" alt="logo ketta app">
        </div>
        <div class="banner-container">

            <h1>Hungry?</h1>
            <h2>See the deliciousness near you...</h2>
            <form action="/" method="post" class="search">
                <input id="search_term" type="text" placeholder="restaurant name" name="restaurantName" required>
                <i class="fas fa-search"></i>
                <div class="city-input">
                    <input id="city-input" type="text" placeholder="city" name="city">
                    <i class="fas fa-map-marker-alt"></i>
                </div>
            
                <button class="search-button" type="submit">Search</button>
            </form>
            <!-- <h2 class="sm-heading">or browse some of our categories</h2> -->
        </div>
    </div>
    <div class="small-card-container">
        <div>
            <i class="fas fa-coffee"></i>
        </div>
        <div>
            <i class="fas fa-hamburger"></i>
        </div>
        <div>
            <i class="fas fa-pizza-slice"></i>
        </div>
        <div>
            <i class="fas fa-glass-cheers"></i>
        </div>
    </div>

<%- include('partials/footer'); -%>

