<%- include('partials/header'); -%>

<header class="banner">
    
    <div>
        <!-- <div class="logo-container">
            <img src="/img/logo.png" alt="logo ketta app">
        </div> -->
        <div class="banner-container">
            <h1 class="app-name">Ketta: Your local food guide</h1>
            <h1>Feeling Hungry?</h1>
            
            <form action="/" method="post" class="search">
                <input id="search_term" type="text" placeholder="(Ex. pizza...) or restaurant name" name="keyword" required>
                <i class="fas fa-search"></i>
                <div class="city-input">
                    <input id="city-input" type="text" placeholder="city" name="location" required>
                    <i class="fas fa-map-marker-alt"></i>
                </div>
            
                <button class="search-button" type="submit">Search</button>
            </form>
            <div class="slogan">
                <h2>Search the deliciousness near you...</h2>
            </div>
            
        </div>
    </div>
    <!-- <div class="small-card-container">
        <div>
            <i class="fas fa-coffee"></i>
        </div>
        <div>
            <i class="fas fa-hamburger"></i>
        </div>
        <div>
            <i class="fas fa-pizza-slice"></i>
        </div>
        <div>
            <i class="fas fa-glass-cheers"></i>
        </div>
    </div> -->
</header>

<%- include('partials/footer'); -%>

