

    <div class="row">
        
            <div class="col-md-4 col-sm-6">
                <div>
                    <img alt="picture" src="
                            <%= campground.image %>" class="img-fluid">
                    </a>
                    <div class="caption">
                        <h5 style="text-align: center; margin: 10px auto">
                            <%= campground.name %>
                        </h5>
                    </div>
                    <p>
                        <%= campground.description %>
                    </p>
                </div>
              
            </div>
    </div>
