@import url("https://fonts.googleapis.com/css?family=Great+Vibes|Montserrat:300,400&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #E3E7F2;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow-x: hidden;
  text-decoration: none; }

.banner {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../img/lily-banse--YHSwy6uqvk-unsplash.jpg");
  background-color: #000000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow-y: hidden; }

.show-banner {
  width: 100vw;
  height: 55vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../img/show-banner-bg.jpg");
  background-color: #000000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.banner-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  padding-top: 8%; }
  .banner-container .app-name {
    font-family: "Great Vibes", cursive;
    font-weight: lighter;
    font-size: 4rem; }

.banner-container h1 {
  font-size: 3.5rem;
  color: #fafafa; }

.banner-container h2 {
  font-size: 2.5rem;
  color: #fafafa;
  font-weight: lighter; }

.show-banner-container h2 {
  font-size: 3.5rem;
  color: #fafafa;
  font-weight: 700; }

.show-banner-container h3 {
  font-size: 2.5rem;
  color: #fafafa;
  font-weight: lighter;
  text-align: center; }

.banner-container form {
  margin-top: 4rem; }

.banner-container input {
  width: 400px;
  height: 2.8rem;
  padding-left: 3rem;
  border-radius: 30px;
  outline: none;
  border: none;
  font-style: italic; }

.banner-container #city-input {
  width: 200px; }

.banner-container .city-input {
  position: relative;
  display: inline-block; }
  .banner-container .city-input i {
    position: absolute;
    left: 1rem;
    top: .7rem;
    font-size: 1.5rem;
    opacity: .6;
    color: #99a9b3; }

.slogan {
  margin-top: 2rem; }

.search {
  position: relative; }

.search i {
  position: absolute;
  left: 1rem;
  top: .7rem;
  font-size: 1.5rem;
  opacity: .6;
  color: #99a9b3; }

.search-button {
  width: 120px;
  height: 2.8rem;
  padding: .8rem 1.5rem;
  border-radius: 30px;
  letter-spacing: .8px;
  border: none;
  font-size: 1rem;
  font-variant: small-caps;
  background: #00d46a;
  font-weight: 300; }

.show-search-button {
  text-align: center;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%); }

.show-search-button a {
  padding: .8rem 1.5rem;
  border-radius: 30px;
  letter-spacing: .8px;
  border: none;
  font-size: 1.5rem;
  font-variant: small-caps;
  background: #00d46a;
  font-weight: 300;
  text-decoration: none !important;
  color: #e6f0f2;
  margin-top: 1rem; }

.small-card-container {
  position: absolute;
  width: 70%;
  height: 100px;
  background: #fa3a37;
  top: 96%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center; }

.small-card-container i {
  font-size: 4rem;
  padding-top: 1rem;
  opacity: .4; }

#main {
  height: auto;
  margin-top: -10rem; }

.sub-title h3 {
  font-size: 3.5rem;
  color: #6f7e82;
  margin-top: 38rem;
  text-align: center; }
  .sub-title h3::after {
    content: "";
    width: 13rem;
    height: .1rem;
    background: #a0b2b8; }

.restaurant-card-container {
  width: 80%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 350px));
  grid-auto-rows: 380px;
  grid-gap: 5rem;
  align-items: center;
  justify-content: center; }

.restaurant-card {
  background-color: #fafafa;
  border-radius: 10px;
  box-shadow: 0 24px 50px 0px rgba(0, 0, 0, 0.071);
  position: relative; }

.card-photo img {
  width: 100%;
  height: 150px;
  border-radius: 10px 10px 0 0;
  overflow: hidden; }

.card-info {
  display: block;
  position: absolute; }

.restaurant-name {
  position: absolute;
  top: 20px; }

.isOpen {
  position: absolute;
  top: 20px;
  right: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.7px;
  color: #00d46a;
  background: rgba(0, 40, 7, 0.612);
  padding: 5px 10px;
  font-variant: small-caps; }

.isClosed {
  position: absolute;
  top: 20px;
  right: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.7px;
  color: #fa3a37;
  background: rgba(255, 255, 255, 0.8);
  padding: 5px 10px;
  font-variant: small-caps; }

.restaurant-card p {
  font-family: "Montserrat", sans-serif;
  font-size: 34px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  line-height: normal;
  color: #df7b00;
  display: inline-block;
  margin: 0;
  padding: 20px; }

.restaurant-card h6 {
  height: 150px;
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  color: #313e47b6;
  padding: 22px;
  margin: 0; }

.stats-container {
  width: 100%;
  height: 70px;
  border-radius: 0 0 10px 10px;
  background-color: #e6f0f2;
  position: absolute;
  top: 300px; }
  .stats-container .link {
    position: inherit;
    top: -40px;
    right: 20px; }
    .stats-container .link a {
      padding: .5rem .8rem;
      border-radius: 30px;
      letter-spacing: .8px;
      border: none;
      font-size: .8rem;
      font-variant: small-caps;
      background: #00d46a;
      font-weight: 300;
      text-decoration: none;
      color: #050706; }

.star {
  width: 20px;
  height: 20px;
  opacity: 0.5;
  color: #3d484f;
  position: inherit;
  top: 30px;
  left: 25px;
  font-size: 1.1rem !important; }

.-Likes {
  opacity: 0.5;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem !important;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3d484f !important;
  position: inherit;
  top: 8px;
  left: 38px; }

.fa-comment {
  width: 20px;
  height: 20px;
  opacity: 0.5;
  color: #3d484f;
  position: inherit;
  top: 30px;
  left: 160px;
  font-size: 1.1rem !important; }

.-Comments {
  opacity: 0.5;
  font-family: Avenir;
  font-size: 1.1rem !important;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3d484f !important;
  position: inherit;
  top: 8px;
  left: 173px; }

.bottom {
  height: 45vh;
  margin-top: 5rem; }

.bottom-container h2 {
  font-size: 3.5rem;
  color: #050706;
  font-weight: 700;
  padding-top: 5rem;
  text-align: center; }

.bottom-search-button {
  margin-top: 3rem;
  text-align: center; }

.bottom-search-button a {
  padding: .8rem 1.5rem;
  border-radius: 30px;
  letter-spacing: .8px;
  border: none;
  font-size: 1.5rem;
  font-variant: small-caps;
  background: #00d46a;
  font-weight: 300;
  text-decoration: none !important;
  color: #e6f0f2; }

.top-bg-image {
  width: 100%;
  height: 45vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.071), rgba(0, 0, 0, 0.45)), url("../img/restaurant_page.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative; }

.info-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 60%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
  grid-auto-rows: minmax(560px, auto);
  border-radius: 50px 0 50px 0;
  display: grid;
  grid-template-columns: 2fr 1fr;
  -webkit-box-shadow: 12px 12px 60px 10px #919191;
  box-shadow: 12px 12px 60px 10px #919191; }

.restaurant-details {
  position: relative;
  width: 80%;
  height: 300px;
  background: white;
  top: 35%;
  left: 50%;
  transform: translate(-50%);
  border-radius: 20px;
  -webkit-box-shadow: 12px 12px 60px 10px #919191;
  box-shadow: 12px 12px 60px 10px #919191; }

.show-map {
  border-radius: 0 0 50px 0;
  height: 100%;
  margin: 0;
  padding: 0; }

.name {
  position: relative; }

.name::after {
  content: "";
  width: 90%;
  height: .9px;
  position: absolute;
  top: 140px;
  left: 50%;
  transform: translate(-50%);
  background: #c4c4c4af; }

.name h4 {
  color: #020202;
  font-size: 1.4rem;
  padding: 2rem 0 1.4rem 2rem;
  margin: 0; }

.name p {
  color: #717171;
  font-size: 1.2rem;
  margin: 0;
  padding-left: 2rem; }

.details {
  position: relative; }

.card-restaurant-info {
  position: relative; }
  .card-restaurant-info .fb-share-button {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 1.5rem; }

.Open {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.7px;
  color: #00d46a;
  padding: 5px 10px;
  font-variant: small-caps; }

.Closed {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.7px;
  color: #fa3a37;
  padding: 5px 10px;
  font-variant: small-caps; }

.hours-wrapper {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 90%;
  margin-bottom: 2rem;
  border-bottom: #c4c4c4af 1px solid; }

.hours {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  .hours p {
    display: inline-block;
    font-size: 1rem;
    padding: .8rem 2rem .8rem .8rem; }

.hours::after {
  content: "";
  height: .9px;
  transform: translate(-50%);
  background: #c4c4c4af; }

.stats-wrapper-container {
  position: absolute;
  top: 120px;
  width: 100%; }

.stats-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  .stats-wrapper p,
  .stats-wrapper i {
    font-size: 1rem;
    color: #aeaeaec1; }
  .stats-wrapper p > a {
    text-decoration: none;
    color: #aeaeaec1; }

.search-more {
  margin-top: 600px;
  margin-bottom: 100px; }
  .search-more h2 {
    font-size: 3.5rem;
    color: #050706;
    font-weight: 700;
    text-align: center; }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .banner-container {
    display: block;
    padding-top: 4%;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center; }
    .banner-container .app-name {
      font-family: "Great Vibes", cursive;
      font-weight: lighter;
      font-size: 2rem; }
  .banner-container h1 {
    font-size: 1.5rem;
    color: #fafafa; }
  .banner-container h2 {
    font-size: 1.5rem;
    color: #fafafa;
    font-weight: lighter; }
  .show-banner-container h2 {
    font-size: 2.5rem;
    color: #fafafa;
    font-weight: 700; }
  .show-banner-container h3 {
    font-size: 1.5rem;
    color: #fafafa;
    font-weight: lighter;
    text-align: center; }
  .banner-container form {
    margin-top: 4rem; }
  .banner-container input {
    width: 90%;
    height: 2.8rem;
    border-radius: 30px;
    outline: none;
    border: none;
    font-style: italic;
    margin-bottom: 1rem; }
  .banner-container #city-input {
    width: 90%; }
  .banner-container .city-input {
    position: relative;
    display: inline-block; }
    .banner-container .city-input i {
      position: absolute;
      left: 1rem;
      top: .7rem;
      font-size: 1.5rem;
      opacity: .6;
      color: #99a9b3; }
  .slogan {
    margin-top: 2rem; }
    .slogan h2 {
      font-size: 1.5rem; }
  .search {
    position: relative; }
  .search i {
    position: absolute;
    left: 1rem;
    top: .7rem;
    font-size: 1.5rem;
    opacity: .6;
    color: #99a9b3; }
  .search-button {
    width: 120px;
    height: 2.8rem;
    padding: .8rem 1.5rem;
    border-radius: 30px;
    letter-spacing: .8px;
    border: none;
    font-size: 1rem;
    font-variant: small-caps;
    background: #00d46a;
    font-weight: 300; }
  .small-card-container {
    position: absolute;
    width: 100%;
    height: 80px; }
  .small-card-container i {
    font-size: 2.5rem;
    padding: .5rem;
    opacity: .4; }
  .show {
    padding-top: 20% !important; }
  .show-search-button {
    text-align: center;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .show-search-button a {
    padding: .6rem 1rem;
    border-radius: 30px;
    letter-spacing: .8px;
    border: none;
    font-size: .8rem;
    font-variant: small-caps;
    background: #00d46a;
    font-weight: 300;
    text-decoration: none !important;
    color: #e6f0f2; }
  .show-banner-container h2 {
    font-size: 2rem; }
  .show-banner-container h3 {
    font-size: 1.5rem; }
  #main {
    margin-top: -6rem; }
  .bottom-container h2 {
    font-size: 1.5rem;
    color: #050706;
    font-weight: 700;
    padding-top: 2rem;
    text-align: center; }
  .restaurant-card-container {
    width: 80%;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 350px));
    grid-gap: 2rem;
    align-items: center;
    justify-content: center; }
  .restaurant-card p {
    font-size: 24px;
    padding: 25px; }
  .restaurant-card h6 {
    font-size: 20px;
    padding: 15px; }
  .-Comments {
    font-size: .8rem !important; }
  .-Likes {
    font-size: .8rem !important;
    top: 12px; }
  .info-container {
    width: 60%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    grid-auto-rows: minmax(260px, auto);
    border-radius: 50px 0 50px 0;
    display: block;
    grid-template-columns: 2fr 1fr;
    -webkit-box-shadow: 12px 12px 60px 10px #919191;
    box-shadow: 12px 12px 60px 10px #919191; }
  .hours-wrapper {
    position: absolute;
    left: 30px;
    width: 90%;
    margin-bottom: 2rem;
    border-bottom: #c4c4c4af 1px solid; }
  .hours p {
    display: inline-block;
    font-size: .6rem;
    padding: .2rem 2rem .2rem .2rem; }
  .stats-wrapper p,
  .stats-wrapper i {
    font-size: .8rem;
    color: #aeaeaec1; } }
